
.ground-menu::-webkit-scrollbar-track{
    display: none;
    transition: 0.3s ease-in-out;
}

.ground-menu::-webkit-scrollbar{
    display: none;
    width: 4px;
}
.ground-menu:hover::-webkit-scrollbar{
    display: block;    
}
.ground-menu::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-image: linear-gradient(-45deg,rgba(16, 213, 248, 0.823), rgb(232, 231, 231));
}

